/* You can add global styles to this file, and also import other style files */
body{
    background-image: url('assets/imgs/background-home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
/* HEADER */
.bg-dark{
    background-color: rgb(0, 0, 0);
}
.navbar-brand{
    margin: auto,0,auto;
}
.card{
    border: 3px solid black;
    background-size: contain;
    background-repeat: no-repeat;
}
@font-face {
    font-family: 'FloralCapitals'; /*a name to be used later*/
    src: url('assets/fonts/FloralCapitals.ttf'); /*URL to font*/

    font-family: 'TrajanusBricks';
    src: url('assets/fonts/TrajanusBricks.ttf');

    font-family: 'HobbitonBrushHand';
    src: url('assets/fonts/hobbitonbrushhand.ttf');
}