.page-footer{
    bottom: 0px;
    position: fixed;
    left: 43%;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: auto;
}
.a {
    text-decoration: goldenrod;
}