<footer class="page-footer font-small ">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright: MagicGathering.
    <br/>
    made by <a href="#"> Youness Nady</a>
  </div>
  <!-- Copyright -->

</footer>