.card {
    width: 230px;
    height: 340px;
    margin: 5px;
    border-radius:10px;
}
.pagination {
    margin: 10px 0 70px !important;
}
h1 {
    color: white;
}
.bar-bottom-actions {
    bottom:0px;
    position:absolute;
    display: flex;
}