<div class="container container-fluid">
  <div class="text-center">
      <h1>All results for {{elementCardText}} elements</h1>

      <!-- items being paged -->
      <div *ngFor="let type of listCurrentCards">
        <div  class="card col-md-4" [style.backgroundImage]="getImageSecured(type.imageUrl)" >
          <div class="card-body">
            <div class="bar-bottom-actions">
              <h5 class="card-title" style="color:white" > {{ type.name }} </h5>
              <p class="card-text" *ngIf="type.subtypes" style="color:white"> {{ type.subtypes[0] }} </p>
            </div>
          </div>
        </div>
      </div>

      <!-- pager -->
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
          <li [ngClass]="{disabled:pager.currentPage === 1}">
              <a (click)="setPage(1)">First</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === 1}">
              <a (click)="setPage(pager.currentPage - 1)">Previous</a>
          </li>
          <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
              <a (click)="setPage(page)">{{page}}</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a (click)="setPage(pager.currentPage + 1)">Next</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a (click)="setPage(pager.totalPages)">Last</a>
          </li>
      </ul>
  </div>
</div>